<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">附近商家</p>
            </div>
        </header>
        <div id="nearSale" class="contain pt5">
            <div class="mod-list">
              <script>
                var tem_list = '<a class="mod item" href="">\
                    <img src="{{imgurl}}" alt="">\
                    <div class="info">\
                        <p class="hd">{{title}}\
                          <span class="distant"><i class="pis"></i>{{distant}}</span>\
                        </p>\
                        <p class="num">{{middle}}</p>\
                        <p class="price">{{bottom}}</p>\
                    </div>\
                </a>'
              </script>
            </div>
        </div>
        <footer class="foot">
          <a class="item" href="../index.html">
              <img src="../../asset/images/foot_1.png" alt="">
              <p>首页</p>
          </a>
          <a class="item" href="../nearsale/index.html">
              <img src="../../asset/images/foot_active_2.png" alt="">
              <p class="text-blue">附近商家</p>
          </a>
          <a class="item" href="../nearbank/index.html">
              <img src="../../asset/images/foot_3.png" alt="">
              <p>附近银行</p>
          </a>
          <a class="item" href="../reserve/index.html">
              <img src="../../asset/images/foot_4.png" alt="">
              <p>预约存款</p>
          </a>
          <a class="item" href="../person/index.html">
              <img src="../../asset/images/foot_5.png" alt="">
              <p>个人中心</p>
          </a>
        </footer>
    <script src="../../asset/js/nearsale.min.js"></script>

    </body>
</html>
