<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
        <script src="../../asset/js/plugin/chartist.min.js"></script>

    </head>
    <body>
        <header id="detailTitle" class="head head-gray">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
              <script>
                var tem_title = '<p class="txt">{{title}}</p>'
              </script>
            </div>
        </header>
        <div id="financeDetail" class="fund-detail pt5">
            <div class="ct-chart">
                <p class="hd">年化收益利率(%)</p>
            </div>
            <div class="detailContent">
              <div class="mod detail-deshead">
                  <script>
                  var temp_des = '<p class="des">\
                      <span class="hd">{{key}}</span>\
                      <span class="txt">{{value}}</span>\
                    </p>'
                  </script>
            </div>
            
            <div class="mod detail-info">
                <div class="info pro">
                  <p class="title">产品属性<span class="arrow-down"></span></p>
                  <div class="info-txt hidden">
                    <script>
                      var tem_mod = '<p class="sub-des">\
                          <span class="hd">{{key}}</span>\
                          <span class="txt">{{value}}</span>\
                      </p>'
                    </script>
                  </div>
               </div>
               <div class="info pay">
                  <p class="title">购买属性<span class="arrow-down"></span></p>
                  <div class="info-txt hidden">
                  </div>
               </div>
            </div>
         
          </div>
          <a class="button buynow" href="#">立即抢购</a>
        </div>
    <script src="../../asset/js/finance.min.js"></script>
    </body>
</html>
