<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
        <script src="../../asset/js/plugin/chartist.min.js"></script>
        <script src="../../asset/js/template.min.js"></script>
        <script type="text/javascript">
            var template = template
        </script>
    </head>
    <body>
        <header class="head head-gray">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">农商宝</p>
            </div>
        </header>
        <div id="financeDetail" class="fund-detail contain">
            <div class="ct-chart">
                <p class="hd">年化收益利率(%)</p>
            </div>
            <div class="mod">
              <p class="des">
                <span class="hd">基金名称</span>
                <span class="txt">博时现金宝货币C类</span>
              </p>
              <p class="des">
                <span class="hd">基金代码</span>
                <span class="txt">002855</span>
              </p>
              <p class="des">
                <span class="hd">基金管理人</span>
                <span class="txt">博时基金管理有限公司</span>
              </p>
              <p class="des">
                <span class="hd">基金销售服务主题</span>
                <span class="txt">博时基金管理有限公司</span>
              </p>
            </div>
            <div class="mod detail-info">
               <div class="info pro">
                 <p class="title">产品属性</p>
                 <div class="info-txt">
                   <p class="sub-des">
                     <span class="hd">产品名称</span>
                     <span class="txt">掌中宝-001期</span>
                   </p>
                   <p class="sub-des">
                     <span class="hd">产品代码</span>
                     <span class="txt">LEB001</span>
                   </p>
                   <p class="sub-des">
                     <span class="hd">产品币种</span>
                     <span class="txt">人民币</span>
                   </p>
                   <p class="sub-des">
                     <span class="hd">预期年化收益</span>
                     <span class="txt">4%</span>
                   </p>
                   <p class="sub-des">
                     <span class="hd">使用对象</span>
                     <span class="txt">适用于风险等级为稳健型（含）以上的客户</span>
                   </p>
                 </div>
               </div>
               <div class="info pay">
                 <p class="title">购买属性</p>
               </div>
            </div>
            <a class="buynow" href="#">立即抢购</a>
        </div>
    <script src="../../asset/js/finance.min.js"></script>
    </body>
</html>
