<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body style="background-color: #fff">
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">预约存款</p>
            </div>
        </header>
        <div id="reserve" class="pt5">
            <div class="reserve-content">
                <div class="des">
                    <label>银行</label>
                    <input type="text">
                </div>
                <div class="des">
                    <label>金额</label>
                    <input type="text">
                </div>
                <div class="des">
                    <label>时间</label>
                    <input type="date">
                </div>
            </div>
            <a class="button button-radius button-gray" href="submit.html">确定预约</a>
        </div>
        <footer class="foot">
          <a class="item" href="../index.html">
              <img src="../../asset/images/foot_1.png" alt="">
              <p>首页</p>
          </a>
          <a class="item" href="../nearsale/index.html">
              <img src="../../asset/images/foot_2.png" alt="">
              <p>附近商家</p>
          </a>
          <a class="item" href="../nearbank/index.html">
              <img src="../../asset/images/foot_3.png" alt="">
              <p>附近银行</p>
          </a>
          <a class="item" href="../reserve/index.html">
              <img src="../../asset/images/foot_active_4.png" alt="">
              <p class="text-blue">预约存款</p>
          </a>
          <a class="item" href="../person/index.html">
              <img src="../../asset/images/foot_5.png" alt="">
              <p>个人中心</p>
          </a>
        </footer>
    <script src="../../asset/js/reserve.min.js"></script>

    </body>
</html>
