html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: none;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: transparent; }

html, body, form, fieldset, p, div, h1, h2, h3, h4, h5, h6 {
  -webkit-text-size-adjust: none;
  font-family: PingFangSC-Regular, Arial, Helvetica, sans-serif; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  background-color: #f0f3f5;
  font-family: Arial, Helvetica, sans-serif; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none; }

ins, a {
  text-decoration: none; }

del {
  text-decoration: line-through; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

a, button, input {
  -webkit-tap-highlight-color: rgba(255, 0, 0, 0); }

.head {
  background-color: #f5f5f5; }
  .head .hd {
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    padding: 15px 0; }
  .head .logo {
    display: block;
    width: 50px;
    height: 50px;
    margin-right: 15px; }
  .head .txt {
    display: block;
    font-size: 16px; }
  .head .back {
    float: left;
    margin: 15px 0 0 15px;
    width: 15px;
    height: 30px;
    background: url(../images/back.png) no-repeat;
    background-size: 100%; }

.head-blue {
  color: #fff;
  background-color: #1EBCFD; }

.mod {
  margin-bottom: 10px;
  background-color: #fff; }

.contain {
  padding-bottom: 75px; }

.search {
  display: -webkit-box;
  -webkit-box-align: center;
  width: 60%;
  margin: 10px;
  border: 1px solid #d4caca;
  background-color: #fff; }
  .search i {
    display: block;
    width: 20px;
    height: 20px;
    margin-left: 10px;
    background: url(../../asset/images/search.png) no-repeat;
    background-size: 100%; }
  .search input {
    display: -webkit-box;
    -webkit-box-flex: 1;
    width: 100%;
    padding: 10px;
    font-size: 15px; }

.mod-banner img {
  width: 100%; }

.mod-nav {
  padding: 10px;
  overflow: hidden; }
  .mod-nav .item {
    float: left;
    margin-top: 15px;
    text-align: center;
    width: 33%;
    height: 77px;
    color: #333; }
    .mod-nav .item img {
      display: block;
      width: 50px;
      margin: 0 auto 8px; }
    .mod-nav .item p {
      font-size: 14px; }

.mod-ad img {
  width: 100%; }

.mod-rec {
  padding: 10px 15px;
  overflow: hidden; }
  .mod-rec .fl {
    float: left;
    width: 50%; }
  .mod-rec .rec-title {
    overflow: hidden; }
    .mod-rec .rec-title img {
      width: 30px;
      float: left; }
    .mod-rec .rec-title span {
      float: left;
      margin: 10px 0 0 10px;
      font-weight: bold;
      color: #d92014; }
  .mod-rec .rec-txt {
    color: #808080;
    font-size: 14px; }
  .mod-rec .rec-content {
    padding: 15px; }
    .mod-rec .rec-content img {
      width: 100%; }
  .mod-rec .fr {
    float: left;
    width: 50%; }
  .mod-rec .des {
    float: left;
    width: 50%;
    padding: 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid #e5e5e5;
    border-left: 1px solid #e5e5e5; }
    .mod-rec .des .hd {
      font-weight: bold;
      color: #d92014; }
    .mod-rec .des .txt {
      color: #808080;
      font-size: 14px; }
    .mod-rec .des img {
      width: 100%;
      margin: 10px auto; }

.mod-fund .hd {
  padding: 15px;
  font-size: 16px;
  color: #333;
  border-bottom: 1px solid #e5e5e5; }
  .mod-fund .hd span {
    float: right;
    font-size: 15px;
    color: #666; }

.mod-fund .bd {
  display: -webkit-box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
  padding: 15px 0; }

.mod-fund .rate, .mod-fund .income {
  -webkit-box-flex: 1;
  text-align: center;
  font-size: 15px; }

.mod-fund .sub {
  margin-bottom: 8px;
  color: #808080; }

.mod-fund .num {
  font-weight: bold;
  color: #d92014; }

.mod-list .item {
  display: -webkit-box;
  -webkit-box-align: center;
  padding: 15px;
  background-color: #fff;
  color: #1a1a1a;
  font-size: 15px;
  border-bottom: 1px solid #e5e5e5; }
  .mod-list .item img {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 15px;
    border: 1px solid #e5e5e5; }
  .mod-list .item .info {
    -webkit-box-flex: 1; }
  .mod-list .item .num {
    color: #e4020d;
    margin: 8px 0; }
  .mod-list .item .price {
    color: #808080; }
  .mod-list .item .arrow {
    display: none;
    margin: 15px 0 0 15px;
    width: 12px;
    height: 25px;
    background: url(../images/arrow.png) no-repeat;
    background-size: 100%; }

#pmcHome .item img {
  width: 125px;
  height: 95px; }

#pmcHome .item .arrow {
  display: block; }

.foot {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 10px 0;
  background-color: #f5f5f5; }
  .foot .item {
    float: left;
    width: 20%;
    font-size: 13px;
    text-align: center;
    color: #333; }
    .foot .item img {
      display: block;
      width: 30px;
      height: 30px;
      margin: 0 auto 5px; }
