<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">附近银行</p>
            </div>
        </header>
        <div id="nearBank">
          <div class="detail-search">
              <div class="search">
                  <input type="text" name="" value="" placeholder="请输入关键词">
                  <i></i>
              </div>
              <a class="search-btn" href="javascript: void(0)">搜索</a>
          </div>
          <ul class="detail-nav">
              <li class="des des-cur">支行</li>
              <li class="des">社区银行</li>
              <li class="des">ATM</li>
              <li class="des">农金通</li>
          </ul>
          <div class="detial-module">
            <div class="mod detail-des">
              <p class="hd">陵城农商保险<span>8m</span></p>
              <p class="txt"><i></i>山东省某某某</p>
            </div>
            <div class="mod detail-des">
              <p class="hd">陵城农商保险<span>8m</span></p>
              <p class="txt"><i></i>山东省某某某</p>
            </div>
            <div class="mod detail-des">
              <p class="hd">陵城农商保险<span>8m</span></p>
              <p class="txt"><i></i>山东省某某某</p>
            </div>
          </div>
          <div class="detial-module hidden">something2</div>
          <div class="detial-module hidden">something3</div>
          <div class="detial-module hidden">something4</div>
        </div>
    <script src="../../asset/js/nearbank.min.js"></script>

    </body>
</html>
