<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">附近银行</p>
            </div>
        </header>
        <div id="nearBank" class="pt5">
          <div class="detail-search">
              <div class="search">
                  <input type="text" name="" value="" placeholder="请输入关键词">
                  <i></i>
              </div>
              <a class="search-btn" href="javascript: void(0)">搜索</a>
          </div>
          <ul class="detail-nav">
              <li class="des des-cur">支行</li>
              <li class="des">社区银行</li>
              <li class="des">ATM</li>
              <li class="des">农金通</li>
          </ul>
          <div class="detial-module" id="nearBankZH">
            <script>
              var tem_bank = '<div class="mod detail-des" id={{id}}>\
                <p class="hd">{{name}}<span>{{meter}}</span></p>\
                <p class="txt"><i></i>{{address}}</p>\
              </div>'
            </script>
          </div>
          <div class="detial-module hidden" id="nearBankSocial"></div>
          <div class="detial-module hidden" id="nearBankATM"></div>
          <div class="detial-module hidden" id="nearBankNJT"></div>
        </div>
        <footer class="foot">
          <a class="item" href="../index.html">
              <img src="../../asset/images/foot_1.png" alt="">
              <p>首页</p>
          </a>
          <a class="item" href="../nearsale/index.html">
              <img src="../../asset/images/foot_2.png" alt="">
              <p>附近商家</p>
          </a>
          <a class="item" href="../nearbank/index.html">
              <img src="../../asset/images/foot_active_3.png" alt="">
              <p class="text-blue">附近银行</p>
          </a>
          <a class="item" href="../reserve/index.html">
              <img src="../../asset/images/foot_4.png" alt="">
              <p>预约存款</p>
          </a>
          <a class="item" href="../person/index.html">
              <img src="../../asset/images/foot_5.png" alt="">
              <p>个人中心</p>
          </a>
        </footer>
    <script src="../../asset/js/nearbank.min.js"></script>

    </body>
</html>
