<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body style="background-color: #fff">
        <div id="person" class="contain">
            <div class="person-head">
              <div class="logo">
                <img src="../../asset/images/logo.png" alt="">
              </div>
              <a class="head-btn" href="login.html">登陆</a>
              <script>
                var tem_customer = '<p class="head-user">{{username}}</p>\
                <p class="head-credit text-red">{{num}}</p>'
              </script>

            </div>
            <div class="person-content">
              <a class="des" href="order.html">
                  <img src="../../asset/images/person_1.png" alt="">
                  <span>订单中心</span>
                  <i class="arrow"></i>
              </a>
              <a class="des" href="">
                  <img src="../../asset/images/person_2.png" alt="">
                  <span>客户权益</span>
                  <i class="arrow"></i>
              </a>
              <a class="des" href="">
                  <img src="../../asset/images/person_3.png" alt="">
                  <span>我的安全设置</span>
                  <i class="arrow"></i>
              </a>
              <a class="des" href="">
                  <img src="../../asset/images/person_4.png" alt="">
                  <span>关于我们</span>
                  <i class="arrow"></i>
              </a>
            </div>
        </div>
        <footer class="foot">
          <a class="item" href="../index.html">
              <img src="../../asset/images/foot_1.png" alt="">
              <p>首页</p>
          </a>
          <a class="item" href="../nearsale/index.html">
              <img src="../../asset/images/foot_2.png" alt="">
              <p>附近商家</p>
          </a>
          <a class="item" href="../nearbank/index.html">
              <img src="../../asset/images/foot_3.png" alt="">
              <p>附近银行</p>
          </a>
          <a class="item" href="../reserve/index.html">
              <img src="../../asset/images/foot_4.png" alt="">
              <p>预约存款</p>
          </a>
          <a class="item" href="">
              <img src="../../asset/images/foot_active_5.png" alt="">
              <p class="text-blue">个人中心</p>
          </a>
        </footer>
    <script src="../../asset/js/person.min.js"></script>

    </body>
</html>
