<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body style="background-color: #fff">
        <header class="head login-head">
            <a class="back" href="javascript:history.back(-1)"></a>
        </header>
        <div id="login" class="pt5">
          <div class="hd">
              <img class="logo" src="../../asset/images/logo.png" alt="">
              <p class="txt">陵城农商银行</p>
          </div>
          <div class="login-content">
            <p class="login-info phone">
              <i></i>
              <input type="text" id="tel" placeholder="手机号">
              <span class="tips text-red"></span>
            </p>
            
            <p class="login-info pwd">
              <i></i>
              <input type="password" id="pwd" placeholder="密码">
              <span class="tips text-red"></span>
            </p>
          </div>
          <a class="button button-radius" id="loginBtn" href="javascript:void(0)">登陆</a>
          <a class="regist" href="regist.html">马上注册</a>
        </div>
    <script src="../../asset/js/person.min.js"></script>

    </body>
</html>
