<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../asset/js/jquery.min.js"></script>
        <script src="../asset/js/mustache.min.js"></script>
        <script src="../asset/js/template.min.js"></script>
        <script type="text/javascript">
            var template = template
        </script>
    </head>
    <body>
        <header class="head">
            <div class="hd">
                <img class="logo" src="../asset/images/logo.png" alt="">
                <p class="txt">陵城农商银行</p>
            </div>
        </header>
        <div id="index" class="contain">
            <div class="mod-banner">
                <img src="../asset/images/banner.png" alt="">
            </div>
            <div class="mod mod-nav">
                <a class="item" href="credit/index.html">
                    <img src="../asset/images/nav_1.png" alt="">
                    <p>积分商城</p>
                </a>
                <a class="item" href="#">
                    <img src="../asset/images/nav_2.png" alt="">
                    <p>家庭银行</p>
                </a>
                <a class="item" href="#">
                    <img src="../asset/images/nav_3.png" alt="">
                    <p>生活服务</p>
                </a>
                <a class="item" href="pmc/index.html">
                    <img src="../asset/images/nav_4.png" alt="">
                    <p>贵金属</p>
                </a>
                <a class="item" href="finance/index.html">
                    <img src="../asset/images/nav_5.png" alt="">
                    <p>理财服务</p>
                </a>
                <a class="item" href="#">
                    <img src="../asset/images/nav_6.png" alt="">
                    <p>保险</p>
                </a>
            </div>
            <div class="mod mod-ad">
            </div>

            <div class="home-fund">
            </div>

            <div class="mod mod-rec">
                <div class="fl">
                    <div class="hd">
                        <p class="rec-title">
                            <img src="../asset/images/rec.png" alt="">
                            <span>今日推荐</span>
                        </p>
                        <p class="rec-txt">午后小吃，吃出健康</p>
                    </div>
                    <div class="rec-content">
                    </div>
                </div>
                <div class="fr">
                </div>
            </div>
        </div>
        <footer class="foot">
          <a class="item" href="#">
              <img src="../asset/images/foot_1.png" alt="">
              <p>首页</p>
          </a>
          <a class="item" href="#">
              <img src="../asset/images/foot_2.png" alt="">
              <p>附近商家</p>
          </a>
          <a class="item" href="#">
              <img src="../asset/images/foot_3.png" alt="">
              <p>附近银行</p>
          </a>
          <a class="item" href="#">
              <img src="../asset/images/foot_4.png" alt="">
              <p>预约存款</p>
          </a>
          <a class="item" href="#">
              <img src="../asset/images/foot_5.png" alt="">
              <p>个人中心</p>
          </a>
        </footer>
    <script src="../asset/js/main.min.js"></script>

    </body>
</html>
