<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">保险产品详情</p>
            </div>
        </header>
        <div id="secureDetail" class="pt5">
          <div class="secure-des">
              <p class="hd">该部分信息与您的保险利益息息相关，请仔细阅读</p>
              <p class="des">保险公司名称：<span class="font-bold">陵城农商保险</span></p>
              <p class="des">产品名称：<span class="font-bold">旅行无忧A-1(7天)</span></p>
              <div class="des">产品介绍：
                <p class="subdes">保险期限：30天</p>
                <p class="subdes">保费（每份）：280元</p>
                <p class="subdes">保险责任（每份）：
                    <span>治疗后运送回居住所：5万</span>
                    <span>治疗后运送回居住所：5万</span>
                    <span>治疗后运送回居住所：5万</span>
                </p>
                <p class="subdes">适用年龄：28-75周岁</p>
                <p class="subdes">适用人群：短期境外出行的旅游人士，出国务工及诊疗或就医人员不承保</p>
              </div>
              <a class="text-red" href="#">请点击此处查看产品条款明细</a>
          </div>
          <a class="button button-radius" href="">投保</a>
        </div>
    <script src="../../asset/js/secure.min.js"></script>

    </body>
</html>
