<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
        <script src="../../asset/js/template.min.js"></script>
        <script type="text/javascript">
            var template = template
        </script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">生活服务</p>
            </div>
        </header>
        <div id="lifeHome">
            <div class="mod-item">
                <a class="des" href="#">
                  <img src="../../asset/images/life/life_1.png" alt="">
                  <p>财经头条</p>
                </a>
                <a class="des" href="#">
                  <img src="../../asset/images/life/life_2.png" alt="">
                  <p>违章查询</p>
                </a>
                <a class="des" href="#">
                  <img src="../../asset/images/life/life_3.png" alt="">
                  <p>公积金查询</p>
                </a>
                <a class="des" href="#">
                  <img src="../../asset/images/life/life_4.png" alt="">
                  <p>资产处置</p>
                </a>
            </div>
        </div>
    <!-- <script src="../../asset/js/homebank.min.js"></script> -->

    </body>
</html>
