<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">定期存款</p>
            </div>
        </header>
        <div id="depositTime-detail">
            <div class="detail-search">
                <label>附近网点</label>
                <div class="search">
                    <input type="text" name="" value="" placeholder="请输入完整产品代码">
                    <i></i>
                </div>
            </div>
            <div class="mod detail-des">
              <p class="hd">陵城农商保险<span>8m</span></p>
              <p class="txt"><i></i>山东省某某某</p>
            </div>
            <div class="mod detail-des">
              <p class="hd">陵城农商保险<span>8m</span></p>
              <p class="txt"><i></i>山东省某某某</p>
            </div>
            <div class="detail-list">
              <div class="des">
                  <p class="hd">存款方式<span class="arrow-down"></span></p>
                  <div class="info hidden" id="loadStyle">
                     <p class="check-item">
                         <input type="checkbox" checked id="style1" value="" />
                         <label for="style1">整存整取</label>
                     </p>
                    <p class="check-item">
                       <input type="checkbox" id="style2" value="" />
                       <label for="style2">零存零取</label>
                    </p>
                    <p class="check-item">
                       <input type="checkbox" id="style3" value="" />
                       <label for="style3">整存零取</label>
                    </p>
                    <p class="check-item">
                       <input type="checkbox" id="style4" value="" />
                       <label for="style4">存本取息</label>
                   </p>
                  </div>
              </div>
              <div class="des">
                  <p class="hd">选择时间<span class="arrow-down"></span></p>
                  <div class="info hidden" id="timeStyle">
                    <p class="check-item">
                        <input type="checkbox" checked id="time1" value="" />
                        <label for="time1">三个月</label>
                    </p>
                    <p class="check-item">
                        <input type="checkbox" id="time2" value="" />
                        <label for="time2">半年</label>
                    </p>
                    <p class="check-item">
                        <input type="checkbox" id="time3" value="" />
                        <label for="time3">一年</label>
                    </p>
                   <p class="check-item">
                      <input type="checkbox" id="time4" value="" />
                      <label for="time4">二年</label>
                   </p>
                   <p class="check-item">
                      <input type="checkbox" id="time5" value="" />
                      <label for="time5">三年</label>
                   </p>
                   <p class="check-item">
                      <input type="checkbox" id="time6" value="" />
                      <label for="time6">五年</label>
                  </p>
                  </div>
              </div>
            </div>
            <a class="button fixed_b" href="depositContact.html">联系我们</a>
        </div>
    <script src="../../asset/js/homebank.min.js"></script>

    </body>
</html>
