<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">联系我们</p>
            </div>
        </header>
        <div id="depositContact">
          <div class="contact">
              <p class="des"><i></i>选定网点：<span>陵城农商银行</span></p>
              <p class="des role"><i></i>咨询人员：<span>行长</span></p>
              <p class="des tel"><i></i>电话咨询：<span>0731-1456235</span></p>
          </div>
          <a class="button phone" href="">一键拨号</a>
        </div>
    <script src="../../asset/js/homebank.min.js"></script>

    </body>
</html>
