<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body style="background-color: #fff">
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">对私存款</p>
            </div>
        </header>
        <div id="depositSelf">
            <div class="des">
              <a class="btn btn-cur" href="depositSelfDetail.html">活期存款</a>
            </div>
            <div class="des">
              <a class="btn" href="depositTimeDetail.html">定期存款</a>
            </div>
            <div class="des">
              <a class="btn" href="">大额存款</a>
            </div>
            <div class="des">
              <a class="btn" href="">利率介绍</a>
            </div>
        </div>
    <script src="../../asset/js/homebank.min.js"></script>

    </body>
</html>
