<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">存款菜单</p>
            </div>
        </header>
        <div id="deposit" class="pt5">
            <div class="rate">
                <div class="des">
                   <p class="fir">期限利率:<span>50%</span></p>
                   <p class="sec">上浮比例:<span>50%</span></p>
                </div>
                <div class="des">
                   <p class="txt">期限利率:<span>50%</span></p>
                   <p class="txt">上浮比例:<span>50%</span></p>
                </div>
            </div>
            <div class="list-style">
                <a class="type" href="depositSelf.html">对公存款<i></i></a>
                <a class="type" href="depositSelf.html">对私存款<i></i></a>
            </div>
        </div>
    <script src="../../asset/js/homebank.min.js"></script>

    </body>
</html>
