<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body style="background-color: #fff">
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd">
                <p class="txt">为您贷款</p>
            </div>
        </header>
        <div id="loanDetail">
            <p class="loan-hd">
              <a class="btn btn-cur" href="javascript:void(0)">个人贷款</a>
              <a class="btn" href="javascript:void(0)">企业贷款</a>
            </p>
            <div class="loan-content person hidden">
                <p class="des">
                  <label>请选择区域：</label>
                  <select class="" name="">
                    <option value="">陵城支行</option>
                    <option value="">陵城支行</option>
                    <option value="">陵城支行</option>
                  </select>
                </p>
                <p class="des">
                  <label>请选择贷款类型：</label>
                  <select class="" name="">
                    <option value="">信易贷</option>
                    <option value="">信易贷</option>
                    <option value="">信易贷</option>
                  </select>
                </p>
                <p class="des">
                  <label>贷款金额：</label>
                  <input type="text" name="" value="">
                </p>
                <p class="des">
                  <label>大写金额：</label>
                  <input type="text" name="" value="">
                </p>
                <p class="des">
                  <label>贷款金额：</label>
                  <select class="" name="">
                    <option value="">消费</option>
                    <option value="">消费</option>
                    <option value="">消费</option>
                  </select>
                </p>
                <p class="des">
                  <label>贷款期限：</label>
                  <select class="" name="">
                    <option value="">一年</option>
                    <option value="">两年</option>
                    <option value="">三年</option>
                  </select>
                </p>
                <p class="des">
                  <label>备注：</label>
                  <textarea rows="3"></textarea>
                </p>
                <p class="tips">注：贷款用途项"消费"指个人消费用途，"流动性资金"指经营性质类用途</p>
            </div>
            <div class="loan-content person">
               <p class="des">
                  <label>公司名称：</label>
                  <input type="text" name="" value="">
               </p>
               <p class="des">
                  <label>公司地址：</label>
                  <input type="text" name="" value="">
               </p>
               <p class="des">
                  <label>联系人：</label>
                  <input type="text" name="" value="">
               </p>
                <p class="des">
                  <label>请选择区域</label>
                  <select class="" name="">
                    <option value="">陵城支行</option>
                    <option value="">陵城支行</option>
                    <option value="">陵城支行</option>
                  </select>
                </p>
                <p class="des">
                  <label>请选择贷款类型</label>
                  <select class="" name="">
                    <option value="">信易贷</option>
                    <option value="">信易贷</option>
                    <option value="">信易贷</option>
                  </select>
                </p>
                <p class="des">
                  <label>职务：</label>
                  <input type="text" name="" value="">
                </p>
                <p class="des">
                  <label>贷款金额：</label>
                  <input type="text" name="" value="">
                </p>
                <p class="des">
                  <label>大写金额：</label>
                  <input type="text" name="" value="">
                </p>
                <p class="des">
                  <label>贷款金额：</label>
                  <select class="" name="">
                    <option value="">消费</option>
                    <option value="">消费</option>
                    <option value="">消费</option>
                  </select>
                </p>
                <p class="des">
                  <label>贷款期限：</label>
                  <select class="" name="">
                    <option value="">一年</option>
                    <option value="">两年</option>
                    <option value="">三年</option>
                  </select>
                </p>
                <p class="tips">注：贷款用途项"消费"指个人消费用途，"流动性资金"指经营性质类用途</p>
            </div>
            <a class="button fixed_b" href="">提交</a>
        </div>
    <script src="../../asset/js/homebank.min.js"></script>

    </body>
</html>
