<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
        <!-- <script src="../../asset/js/template.min.js"></script> -->
        <script type="text/javascript">
            // var template = template
        </script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">订单详情</p>
            </div>
        </header>
        <div id="creditDetail">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide"><img src="../../asset/images/credit_1.png"></div>
                    <div class="swiper-slide"><img src="../../asset/images/credit_1.png"></div>
                    <div class="swiper-slide"><img src="../../asset/images/credit_1.png"></div>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="detail-txt">
                <p class="hd">康佳00</p>
                <p class="num">500ml/个</p>
                <p class="price">30积分<span>原价：￥192.00</span></p>
            </div>
            <div class="detail-img">
                <p class="hd">———— 商品详情 ————</p>
                <div class="img">
                    <img src="../../asset/images/credit_2.png">
                    <img src="../../asset/images/credit_2.png">
                </div>
            </div>
            <a class="button change" href="order.html">立即兑换</a>
        </div>
    <script src="../../asset/js/plugin/swiper-3.4.2.jquery.min.js"></script>
    <script src="../../asset/js/credit.min.js"></script>

    </body>
</html>
