<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">订单详情</p>
            </div>
        </header>
        <div id="creditDetail">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    <script>
                      var tem_slide = '<div class="swiper-slide"><img src="{{imgurl}}"></div>'
                    </script>
                </div>
                <div class="swiper-pagination"></div>
            </div>
            <div class="detail-txt">
                <script>
                   var tem_info = '<p class="hd">{{name}}</p>\
                   <p class="num">{{num}}</p>\
                   <p class="price">{{credit}}积分<span>原价：￥{{price}}</span></p>'
                </script>
            </div>
            <div class="detail-img">
                <p class="hd">———— 商品详情 ————</p>
                <div class="img">
                    <script>
                      var tem_img = '<img src="{{imgurl}}">'
                    </script>
                </div>
            </div>
            <a class="button change" href="javascript:viod(0)">立即兑换</a>
        </div>
    <script src="../../asset/js/plugin/swiper-3.4.2.jquery.min.js"></script>
    <script src="../../asset/js/credit.min.js"></script>

    </body>
</html>
