<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">确认订单</p>
            </div>
        </header>
        <div id="creditOrder"  class="pt5">
            <div class="mod order-info">
                <div class="title">
                  <script>
                      var tem_order = '<img src="{{imgurl}}">\
                      <div class="info">\
                          <p class="hd">{{name}}</p>\
                          <p class="point">{{credit}}积分\
                              <span class="price">￥{{price}}</span>\
                              <span class="num">x1</span>\
                          </p>\
                      </div>'
                  </script>
                </div>
                <div class="buy">
                    <p>购买数量</p>
                    <p class="buy-num"><i class="reduce">-</i><span>1</span><i class="add">+</i></p>
                </div>
            </div>
            <div class="mod order-center">
                <p class="btn-style">
                    <span class="btn btn-select">自取</span>
                    <span class="btn">邮寄</span>
                </p>
                <div class="style-self">
                    <label>自取</label>
                    <select id="select" name="card">
                        <option value="option1">中国农业银行</option>
                        <option value="option2">中国农业银行</option>
                        <option value="option3">中国农业银行</option>
                        <option value="option4">中国农业银行</option>
                    </select>
                </div>
                <div class="style-mail hidden">
                  <p class="des"><span>地址：</span><input type="text" name="add" value=""></p>
                  <p class="des"><span>收件人：</span><input type="text" name="receiver" value=""></p>
                  <p class="des"><span>姓名：</span><input type="text" name="name" value=""></p>
                  <p class="des"><span>电话号码：</span><input type="text" name="tel" value=""></p>
                  <p class="sum">共<span class="num">1</span>件商品 (运费 ￥<span class="price">5.00</span>)</p>
                </div>
                <div class="result">
                    <p class="num">合计：<span><i class="total"></i>积分</span></p>
                    <a class="submit" href="#">提交订单</a>
                </div>
            </div>
        </div>

    <script src="../../asset/js/credit.min.js"></script>

    </body>
</html>
