<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
        <meta name="apple-mobile-web-app-capable" content="no">
        <meta name="format-detection" content="telephone=no">
        <meta http-equiv="Cache-Control" content="no-transform">
        <meta http-equiv="Cache-Control" content="no-siteapp">
        <title>陵城农商银行</title>
        <meta name="description" content="">
        <link href="../../asset/css/main.min.css" rel="stylesheet" type="text/css">
        <script src="../../asset/js/plugin/jquery.min.js"></script>
        <script src="../../asset/js/plugin/mustache.min.js"></script>
        <!-- <script src="../../asset/js/template.min.js"></script> -->
        <script type="text/javascript">
            // var template = template
        </script>
    </head>
    <body>
        <header class="head head-blue">
            <a class="back" href="javascript:history.back(-1)"></a>
            <div class="hd ">
                <p class="txt">确认订单</p>
            </div>
        </header>
        <div id="creditOrder">
            <div class="mod order-info">
                <div class="title">
                    <img src="../../asset/images/img2.png">
                    <div class="info">
                        <p class="hd">康佳 中国梦 电热水壶</p>
                        <p class="point">30积分 
                            <span class="price">￥192.00</span>
                            <span class="num">x1</span>
                        </p>
                    </div>
                </div>
                <div class="buy">
                    <p>购买数量</p>
                    <p class="buy-num"><i>-</i><span>1</span><i>+</i></p>
                </div>
            </div>
            <div class="mod order-center">
                1256
            </div>
        </div>
  
    <script src="../../asset/js/credit.min.js"></script>

    </body>
</html>
